* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: gray;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.todo {
    display: flex;
    justify-content: center;
}

.todo-box {
    margin-top: 70px;
    width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-row {
    display: flex;
    gap: 10px;
}

.todo-inp {
    flex: 1;
    height: 30px;
    padding: 0 20px;
    border: 1px solid gray;
    border-radius: 4px;
}

.todo-btn {
    height: 30px;
    width: 60px;
    background-color: rgb(54, 128, 232);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list li {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


.task-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.task-text {
    flex: 1;
}


.todo-list li.checked .task-text {
    text-decoration: line-through;
    opacity: 0.6;
    background:  rgba(135, 231, 11, 0.601);
}

.delete {
    font-size: 22px;
    font-weight: bold;
    color: red;
    cursor: pointer;
    user-select: none;
}

.filter-btn {
    height: 30px;
    width: 80px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
    border-radius: 16px;
    cursor: pointer;
}

.filter-btn:hover {
    background-color: rgb(54, 128, 232);
    color: white;
    border: none;
}   

