
.card {
  display: flex;
  flex-direction: column;
  height: 100%; 
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 19px;
}

.card img {
  width: 100%;
  height: 100%; 
  
  object-fit: contain; 
  background-color: #f9f9f9; 
  padding: 5px; 
  border-radius: 4px;
  flex-shrink: 0;
}

.card p {
  flex-grow: 1; 
  margin: 10px 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card button, .card a {
  margin-top: 5px;
}
.card:hover {
  transform: translateY(-5px);
}


.card h3 {
  margin: 0;
  font-size: 1.25rem;
  color: #333;
}


.card p:nth-of-type(2) {
  font-weight: bold;
  color: #2c3e50;
  font-size: 1.1rem;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:nth-of-type(1) {
  background-color: #ffebee;
  color: #e91e63;
  align-self: flex-start;
}

button:nth-of-type(1):hover {
  background-color: #fce4ec;
}

.card button:nth-of-type(2) {
  background-color: #f44336;
  color: white;
}

.card button:nth-of-type(3) { background-color: #25D366; color: white; } /* WhatsApp */
.card button:nth-of-type(4) { background-color: #0088cc; color: white; } /* Telegram */

.card a {
  display: block;
  text-align: center;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  margin-top: 10px;
  font-weight: bold;
}

.card a:hover {
  background-color: #0056b3;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.thumbnails {
  display: flex;
  gap: 8px;
}

.thumbnails img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  opacity: 0.6;
  transition: 0.3s;
}

.thumbnails img:hover {
  opacity: 1;
}

.thumbnails img.active {
  border: 2px solid #1976d2;
  opacity: 1;
}