body{
    background-color: #f2f4f7;
}

.main-block{
    display: flex;
}

.left-side{
    flex: 1;
}

.logo-page{
    width: 400px;
    height: 259px;
    padding: 0px 32px 0px 0px;
    margin-top: 25%;
    margin-left: 25%;
}
#fb-logo{
    width: 320px;
    height: 106px;
    padding: 0px ;
    margin: -28px;
}

#logo-text{
        font-size: 24px;
        line-height: 28px;
        width: auto;
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif
}

.right-side{
    flex: 1;
    /* background-color: blue; */
}

.reg-page{
    background-color: #ffffff;
    margin-top: 20%;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 425px;
    height: 348px;
    padding: 10px 0px 24px;
    border: 1px none;
    border-radius: 8px;
    border-color: #dddfe2;
}

.enter-and-pas{
    width: 363px;
    height: 22px;
    padding: 14px 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    margin: 10px auto;

}


.text-inp{
    border: none;
    width: 100%;
    height: 100%;
    font-size: 17px;
    outline: none;
}

.log-but{
    background-color: #0866FF;
    font-size: 20px;
    width: 364px;
    height: 48px;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 0px 16px;
    line-height: 48px;
    box-sizing: content-box;
    margin-top: 10px;
}

.link-text{
    color: #0866ff;
    font-size: 14px;
    font-weight: 500;
    margin: 16px 0px 0px;
    border-radius: 0%;
}
a{
    text-decoration: none;
    border-bottom: 1px black;
}

.crt-but{
    width: 192px;
    height: 48px;
    border: solid #42b72a;;
    border-radius: 6px;
    background-color: #42b72a;
    color: #fff;
    font-weight: 700;
}