/* body{
    background-color: gray;
}
main{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


form{
    margin-top: 25%;
    width: 150%;
    background-color: white;
    border-radius: 10px;
    border: 1px;
    box-shadow:0cap;
}

h1{
    color: green;
    text-align: center;
}

p{  
    margin-left: 5px;
    padding: 5px;
    text-align: center;
}

input:focus{
    background-color: aquamarine;
}

input{
    padding-left: 5px;
    border-radius: 5px;
    border: solid whitesmoke;
    width: 90%;
    text-align: left;
    height: 40px;
    margin-bottom: 30px;
}

.inp-bot-text{
    text-align: left;
    color: grey;
    margin-top: 40px;
}

.inp-out{
    margin-left: 10px;
    height: 20px;
}

#checkbox{
    width: 25px;
    height: 25px;
    margin-top: 40px;
}

button{
    background-color: green;
    border-radius: 20px;
    width: 90%;
    margin-left: 5%;
    height: 35px;
    color: white;
}

label{
    margin-left: 15px;
    color: black;
}

span{
    color: green    ;
} */